[submodule "vendor/geonode"]
	path = vendor/geonode
	url = https://github.com/boundlessgeo/geonode.git
	branch = ps/pki
[submodule "vendor/maploom"]
	path = vendor/maploom
	url = https://github.com/boundlessgeo/MapLoom.git
	branch = ps/pki
[submodule "vendor/sphinx-theme"]
	path = vendor/sphinx-theme
	url = https://github.com/boundlessgeo/sphinx-theme
[submodule "vendor/django-osgeo-importer"]
	path = vendor/django-osgeo-importer
	url = https://github.com/arhote/django-osgeo-importer.git #https://github.com/Geonode/django-osgeo-importer
	branch = fgdb-test #angular-1.6
[submodule "vendor/gsconfig"]
	path = vendor/gsconfig
	url = https://github.com/boundlessgeo/gsconfig.git
[submodule "vendor/arcrest"]
	path = vendor/arcrest
	url = https://github.com/boundlessgeo/ArcREST.git
	branch = ps/pki
