[submodule "vendor/geonode"]
	path = vendor/geonode
	url = https://github.com/boundlessgeo/geonode.git
	branch = exchange/1.5.x
[submodule "vendor/maploom"]
	path = vendor/maploom
	url = https://github.com/boundlessgeo/MapLoom.git
[submodule "vendor/sphinx-theme"]
	path = vendor/sphinx-theme
	url = https://github.com/boundlessgeo/sphinx-theme
[submodule "vendor/django-osgeo-importer"]
	path = vendor/django-osgeo-importer
	url = https://github.com/Geonode/django-osgeo-importer
	branch = angular-1.6
[submodule "vendor/castling"]
	path = vendor/castling
	url = git@github.com:boundlessgeo/castling.git
