{% extends "admin/change_list.html" %}

{% block object-tools %}
<div>
    {% if ssl_log_enabled %}
    <form action="{% url 'admin:disable_log' %}" method="GET" style="display:inline">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" style="background:#FF7F50" value="Disable Logging" />
    </form>
    {% else %}
    <form action="{% url 'admin:enable_log' %}" method="GET" style="display:inline">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" style="background:#3CB371" value="Enable Logging" />
    </form>
    {% endif %}
    <form action="{% url 'admin:export_log' %}" method="GET" style="display:inline">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Export Log" />
    </form>
    <form action="{% url 'admin:clear_log' %}" method="GET" style="display:inline">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Clear Log" />
    </form>
    <form action="" method="GET" style="display:inline;padding-left:20px">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Refresh Log" onClick="window.location.reload()" />
    </form>
    <br />
    Note: log entries below appear in reverse chronological order (newest first). Exports are in chronological order.
</div>
{{ block.super }}
{% endblock %}
