<div id="div_id_{{ widget.name }}" class="form-group" ng-app="SSLConfigSelectApp"
     ng-controller="SSLConfigSelectCtrl">
    <div ng-init="grabConfigs({{ widget.ssl_configs }})">
        <select class="form-control" id="id_{{ widget.name }}" name="{{ widget.name }}"
            ng-model="selectedSSLConfig">
            <option selected="selected">henlo Select custom configuration...</option>
            {% verbatim %}
            <option ng-repeat="ssl_config in ssl_config_options" value="{{ ssl_config.name }}">
                {{ ssl_config.name }}
            </option>
            {% endverbatim %}
        </select>
    </div>
    <br>
    <!-- selectedSSLConfig is the SSLConfig model currently selected -->
    {% verbatim %}
    {{ selectedSSLConfig }}
    {% endverbatim %}
</div>
