{% extends "services/service_register.html" %}
{% load bootstrap_tags %}
{% load i18n %}
{% block body_outer %}
{{ block.super }}
<br>
<!-- TODO: Make this element use a consistent amount of space to look sleeker -->
<p id="selected_ssl_description"></p>
{% endblock %}
{% block extra_script %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function () {
    // begin helper functions
    var enableSelect = function(select_id) {
        $('#' + select_id).prop('disabled', false);
    };
    var disableSelect = function(select_id) {
        $('#' + select_id).prop('disabled', true);
    };
    var fullHttpsUrl = function(url) {
        return url.indexOf('https://') === 0 && url.length > 8;
    };
    var parseUrlForHostnamePort = function(url) {
        if (fullHttpsUrl(url)) {
            return url.split('https://')[1].split('/')[0];
        }
        return url;
    };
    var getSslConfigPkByUrl = function(url) {
        var hostname_mappings = {{ hostname_mappings }};
        if (hostname_mappings && hostname_mappings[url]) {
            return hostname_mappings[url];
        }
        return null;
    };
    var selectSslConfig = function(select_id, value) {
        $('#' + select_id + ' option[value=' + value + ']').prop('selected', true);
    };
    var getSslDescriptionByPk = function(pk) {
      var ssl_descriptions = {{ ssl_descriptions }};
      if (ssl_descriptions && ssl_descriptions[pk]) {
        return ssl_descriptions[pk];
      }
      return '';
    };
    var updateDescription = function(elem_id, description) {
        $('#' + elem_id).text(description);
    };
    var toggleSslConfigSelectBasedOnUrl = function(url, input_id, select_id, description_id) {
        if (url.indexOf('https') === 0) {
            enableSelect(select_id);
            if (fullHttpsUrl(url)) {
                var ssl_pk = getSslConfigPkByUrl(parseUrlForHostnamePort(url));
                if (ssl_pk) {
                    selectSslConfig(select_id, ssl_pk);
                    updateDescription(description_id, getSslDescriptionByPk(ssl_pk));
                }
            }
        } else {
            disableSelect(select_id);
            selectSslConfig(select_id, '""');
            updateDescription(description_id, '');
        }
    };

    var getSelectedValue = function(select_id) {
        return $('#' + select_id).find('option:selected').attr('value');
    };
    var displayDescriptionBasedOnSelection = function(select_id, description_id) {
      updateDescription(description_id, getSslDescriptionByPk(getSelectedValue(select_id)));
    };
    // end helper functions


    // check on initial page load
    var input_id = 'id_url', select_id = 'id_ssl_config';
    var description_id = 'selected_ssl_description';
    var url_input_field = $('#' + input_id);
    var service_url = url_input_field.val();
    toggleSslConfigSelectBasedOnUrl(service_url, input_id, select_id, description_id);
    displayDescriptionBasedOnSelection(select_id, description_id);

    // detecting any change to the service URL input field
    url_input_field.on("change keyup paste", function(){
        service_url = url_input_field.val();
        toggleSslConfigSelectBasedOnUrl(service_url, input_id, select_id, description_id);
    });

    // detecting any change to the SSL config select field
    var ssl_config_select_field = $('#' + select_id);
    ssl_config_select_field.on("change", function() {
        displayDescriptionBasedOnSelection(select_id, description_id);
    });
})
</script>
{% endblock %}