{% extends "services/service_register.html" %}
{% load bootstrap_tags %}
{% load i18n %}
{% block body_outer %}
{{ block.super }}
<br>
<!-- TODO: Make this element use a consistent amount of space to look sleeker -->
<p id="selected_ssl_description"></p>
{% endblock %}
{% block extra_script %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function () {
    var url_input_field = $('#id_url');
    var ssl_config_select_field = $('#id_ssl_config');
    var selected_ssl_description = $('#selected_ssl_description');
    var service_url = url_input_field.val();

    // initial check on page load just in case
    if (service_url.indexOf('https') === 0) {
        ssl_config_select_field.prop('disabled', false);
    } else {
        ssl_config_select_field.prop('disabled', true);
    }
    // detecting any change to the service URL input field
    url_input_field.on("change keyup paste", function(){
        service_url = url_input_field.val();
        // if user entered https into service URL
        // enable the ssl_config field when the service URL field
        // begins with https, and disable it when it no longer does
        if (service_url.indexOf('https') === 0) {
            ssl_config_select_field.prop('disabled', false);
        } else {
            ssl_config_select_field.prop('disabled', true);
            // We also want to deselect the SSL config
            $('#id_ssl_config option[value=""]').prop('selected', true);
            // Need to manually update the description field to empty string
            selected_ssl_description.text('');
        }
    });

    // load ssl_descriptions (kvp of ssl.pk:ssl.description)
    var selected_description, ssl_descriptions = {{ ssl_descriptions }};

    // initial check on page load just in case
    var selected_value = ssl_config_select_field.find("option:selected").attr("value");
    if (ssl_descriptions && ssl_descriptions[selected_value]) {
        selected_description = ssl_descriptions[selected_value];
    } else {
        selected_description = '';
    }
    selected_ssl_description.text(selected_description);
    // detecting any change to the SSL config select field
    ssl_config_select_field.on("change", function() {
        selected_value = ssl_config_select_field.find("option:selected").attr("value");
        console.log(selected_value);
        // if something has been selected
        // search for the select value in the ssl_descriptions kvp
        if (ssl_descriptions[selected_value]) {
            selected_description = ssl_descriptions[selected_value];
        } else {
            selected_description = '';
        }

        // Set the description
        selected_ssl_description.text(selected_description);
    });
})
</script>
{% endblock %}