{% extends "services/service_register.html" %}
{% load bootstrap_tags %}
{% load i18n %}

{% block extra_script %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function () {
    var url_input_field = $('#id_url');
    var ssl_config_select_field = $('#id_ssl_config');
    // normally should be empty, but first check just in case
    var service_url = url_input_field.val();

    // enable the ssl_config field when the service URL field
    // begins with https, and disable it when it no longer does
    if (service_url.startsWith('https')) {
        ssl_config_select_field.prop('disabled', false);
    } else {
        ssl_config_select_field.prop('disabled', true);
    }

    // detecting any change to the service URL input field
    url_input_field.on("change keyup paste", function(){
        // if user entered https into service URL
        var service_url = url_input_field.val();

        // enable the ssl_config field when the service URL field
        // begins with https, and disable it when it no longer does
        if (service_url.startsWith('https')) {
            ssl_config_select_field.prop('disabled', false);
        } else {
            ssl_config_select_field.prop('disabled', true);
        }
    });
})

// Angular block relating to pki_select.html
// Better way to organize this?
    var app = angular.module('SSLConfigSelectApp', []);
    app.controller('SSLConfigSelectCtrl', function ($scope) {
        $scope.grabConfigs = function(configs) {
            $scope.ssl_config_options = configs;
        }
    });
</script>
{% endblock %}