# This should be run from <exchange> checkout dir
-e ./vendor/arcrest/src
# should be with [secure] for pyOpenSSL, cryptography, etc. for modern SSL
# urllib3[secure]==1.22
urllib3==1.22
# minimum of requests 2.12 needed, though not sure if it is urllib3-bug-free
requests==2.18.4
# pyOpenSSL for PKI component validations
pyOpenSSL==17.5.0
cryptography==2.1.4
# for user-ordering of wildcard hostname:port mappings
django-ordered-model==1.4.3
